div {
    width: 100%;
}

.Marques_List > h1 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

ul > li {
    padding: 0rem 0rem 1rem 1rem;
    text-decoration: none;
    cursor: pointer;
}

ul > li > a {
    text-decoration: none;
}

ul > li > a:hover {
    color: red;
}